@charset "UTF-8";
:root {
    --main1color : #181A1B;
    --poemacolor : #E8E6E3;
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.header {
    background-color: black;
    padding: 0px;
    height: 270px;
    text-align: center;
    margin: auto;
    max-width: 100%;
}
h1 {
    padding-top: 50px;
    color: white;
    font-size: 7em;
    font-family: "Roboto", sans-serif;
}
p {
    margin: 6px;
    color: white;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white;
    font-size: 1.2em;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.main1 {
    background-color: var(--main1color);
}

h2 {
    color: var(--poemacolor);
    font-size: 3em;
    font-family: "Sriracha", cursive;
    font-style: normal;
    font-weight: normal;
    padding-top: 50px;
    padding-left: 40px;
    padding-bottom: 50px;
    text-shadow: 2px 2px 1px black;
}
.main2 {
    background: black url(pacote-d012/imagens/background001.jpg) center right no-repeat fixed;
    background-size: cover; 
    position: relative;
}

.fundo {
    width: 600px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.507);
}

.main3 {
    background: black url(pacote-d012/imagens/background002.jpg) center right no-repeat fixed;
    background-size: cover; 
    position: relative;
}